<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="form-group row col-lg-5">
            <div class="form-check">
                    <!-- <div class="col-lg-8"> -->
                        <input type="text" class="form-control " id="inputPassword" placeholder= {{option}}>
                    <!-- </div> -->
            </div>
            <div class="form-check">
                <!-- <div class="col-lg-8"> -->
                    <input type="text" class="form-control " id="inputPassword" placeholder= {{option}}>
                <!-- </div> -->
        </div>
        <div class="form-check">
            <!-- <div class="col-lg-8"> -->
                <input type="text" class="form-control " id="inputPassword" placeholder= {{option}}>
            <!-- </div> -->
    </div>
</div>